.container {
  margin-top: 25px;
  background-color: white;
}

.navBar {
  z-index: 1000;
  height: 55px;
  background-color: #8d6899;
}

.page-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.activeNav {
  background-color: white;
  color: #666699;
}
