<div class="row mat-elevation-z5">
  <mat-toolbar class="navBar">
    <div class="page-container">
      <div class="float-left" style="color: #fff;">
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('users')">Users</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('agencies')">Agencies</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('advertisers')">Advertisers</button>
        </a>
        <a style="margin-right: 20px;">
          <button class="activeNav" mat-button (click)="navigate('campaigns')">Campaigns</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('reports')">Reports</button>
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>

<ngx-spinner name="campaignSpinner" [fullScreen]="true" type="ball-spin-clockwise" size="medium"></ngx-spinner>

<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col" style="float: right">
      <button class="newUserBtn" mat-flat-button>New Campaign</button>
    </div>
  </div>

  <div class="row dataRow">
    <mat-toolbar class="userDetailToolBar">
      <span class="userDetail">Campaign Detail</span>
    </mat-toolbar>

    <div style="margin-top: 15px; width: 100%;">
      <div style="width: 20%; margin-right: 20px; float: right;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter a search key"
               style="border: 1px solid #666699; padding: 4px;">
      </div>
    </div>

    <div style="padding: 20px;">
      <table id="SummaryTable" mat-table [dataSource]="customDataSource" matSort>

        <ng-container matColumnDef="name">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Campaign Name</th>
          <td class="hideExtra" mat-cell *matCellDef="let element" [matTooltip]="element.name">
            {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Product</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            <mat-icon [matTooltip]="element.product" *ngIf="element.product === 'CALL_RETARGETING'">phone</mat-icon>
            <mat-icon [matTooltip]="element.product" *ngIf="element.product === 'WEB_TARGETING'">web</mat-icon>
            <mat-icon [matTooltip]="element.product" *ngIf="element.product === 'LIST_TARGETING'">list</mat-icon>
            <mat-icon [matTooltip]="element.product" *ngIf="element.product === 'FORECASTING'">cloud</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            <mat-icon style="color: #0000b3;" [matTooltip]="element.status" *ngIf="element.status === 'CREATED'">
              radio_button_checked_icon
            </mat-icon>
            <mat-icon style="color: #669900;" [matTooltip]="element.status" *ngIf="element.status === 'LIVE'">
              radio_button_checked_icon
            </mat-icon>
            <mat-icon style="color: #ffcc00;" [matTooltip]="element.status" *ngIf="element.status === 'PAUSED'">
              radio_button_checked_icon
            </mat-icon>
            <mat-icon style="color: #ff3300;" [matTooltip]="element.status" *ngIf="element.status === 'ENDED'">
              radio_button_checked_icon
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            <span> {{element.startDate | date: 'MM/dd/yyyy'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> End Date</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            <span> {{element.endDate | date: 'MM/dd/yyyy'}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="eligibleVisitors">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Eligible Visitors</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.eligibleVisitors}}
          </td>
        </ng-container>


        <ng-container matColumnDef="returningVisitors">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Returning Visitors</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.returningVisitors}}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalMailersSent">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Mailers Sent</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.totalMailersSent}}
          </td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Budget</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.budget | currency: 'USD' : 'symbol' : '.2-2'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="spent">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header> Spent</th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.spent | currency: 'USD' : 'symbol' : '.2-2'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th class="tableHeader" mat-header-cell *matHeaderCellDef> Edit</th>
          <td mat-cell *matCellDef>
            <mat-icon class="editIcon">edit</mat-icon>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="float-right">
        <mat-paginator color="primary" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>
