.container {
  margin-top: 25px;
  margin-bottom: 70px;
  background-color: white;
}

.navBar {
  z-index: 1000;
  height: 55px;
  background-color: #8d6899;
}

.page-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.activeNav {
  background-color: white;
  color: #666699;
}

#SummaryTable {
  table-layout: fixed;
  width: 100%;
}

#SummaryTable tr.mat-header-row, #SummaryTable tr.mat-footer-row, #SummaryTable tr.mat-row {
  height: 35px;
}

#SummaryTable th, #SummaryTable td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.hideExtra {
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newUserBtn {
  background-color: #666699;
  color: #fff;
  float: right;
  font-size: 12px;
}

.dataRow {
  border: 1px solid #666699;
  margin-bottom: 60px;
}

.userDetailToolBar {
  background-color: #666699;
  height: 35px;
}

.userDetail {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.tableHeader {
  background-color: #666699;
  color: white;
}

.editIcon {
  font-size: 16px;
  cursor: pointer;
}

.mat-cell {
  font-size: 12px;
}

.mat-column-name {
  width: 35%;
}

.mat-column-edit {
  width: 5%;
}

.mat-column-status {
  width: 12%;
}
