<div class="row mat-elevation-z5">
  <mat-toolbar class="navBar">
    <div class="page-container">
      <div class="float-left" style="color: #fff;">
        <a style="margin-right: 20px;">
          <button class="activeNav" mat-button (click)="navigate('users')">Users</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('agencies')">Agencies</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('advertisers')">Advertisers</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('campaigns')">Campaigns</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('reports')">Reports</button>
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>

<div class="container">

</div>
