<div class="row mat-elevation-z5">
  <mat-toolbar class="navBar">
    <div class="page-container">
      <div class="float-left" style="color: #fff;">
        <a style="margin-right: 20px;">
          <button class="activeNav" mat-button (click)="navigate('users')">Users</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('agencies')">Agencies</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('advertisers')">Advertisers</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('campaigns')">Campaigns</button>
        </a>
        <a style="margin-right: 20px;">
          <button mat-button (click)="navigate('reports')">Reports</button>
        </a>
      </div>
    </div>
  </mat-toolbar>
</div>

<div class="container">

  <div class="row" style="margin-bottom: 10px;">
    <div class="col" style="float: right">
      <button mat-flat-button style="background-color: #666699; color: #fff; float: right; font-size: 12px;">New User</button>
    </div>
  </div>

  <div class="row" style="border: 1px solid #666699;">
    <mat-toolbar style="background-color: #666699; height: 35px;">
      <span style="color: #fff; font-weight: 400; font-size: 16px;">User Detail</span>
    </mat-toolbar>
    <div style="padding: 20px;">

      <table id="SummaryTable" mat-table [dataSource]="customDataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #666699; color: white;"> User Id </th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.id}}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #666699; color: white;"> Name </th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #666699; color: white;"> Mail Id </th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #666699; color: white;"> Role </th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{element.role}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #666699; color: white;"> Status </th>
          <td class="hideExtra" mat-cell *matCellDef="let element">
            {{ element.status ? 'Active' : 'InActive' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef style="background-color: #666699; color: white;"> Edit </th>
          <td mat-cell *matCellDef><mat-icon style="font-size: 16px; cursor: pointer;">edit</mat-icon></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="float-right">
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>



</div>
