<div class="container">
  <div class="formContainer">
    <form>
      <mat-card>
        <h1 class="headingColor">Login</h1>
        <mat-card-content>
          <div class="row">
            <mat-label>Username</mat-label>
            <mat-form-field class="formFields" floatLabel="never">
              <mat-icon matPrefix class="matIconStyle">email</mat-icon>
              <input type="text" matInput placeholder="Enter Username">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-label>Password</mat-label>
            <mat-form-field class="formFields" floatLabel="never">
              <mat-icon matPrefix class="matIconStyle">lock</mat-icon>
              <input type="password" matInput placeholder="Enter Password">
            </mat-form-field>
          </div>

          <div class="row formFields">
            <button type="submit" mat-raised-button color="primary">Log In</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
