.container {
  background-color: white;
}

.panelBorder {
  border: 1px solid #666699;
}

.headingStyle {
  background-color: #666699;
  padding: 2px;
}

.headTitleStyle {
  color: #ffffff;
  margin-left: 5px;
  font-size: 16px;
}

.pannelBodyStyle {
  padding: 15px;
  color: #8d6899
}
