.container {
  margin-top: 25px;
  margin-bottom: 70px;
  background-color: white;
}

.navBar {
  z-index: 1000;
  height: 55px;
  background-color: #8d6899;
}

.page-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.panelBorder {
  border: 1px solid #666699;
}

.headingStyle {
  background-color: #666699;
  padding: 2px;
}

.headTitleStyle {
  color: #ffffff;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
}

.pannelBodyStyle {
  padding: 15px;
  color: #8d6899
}

.activeNav {
  background-color: white;
  color: #666699;
}

.filterBtn {
  background-color: #666699;
  color: #fff;
  float: right;
  font-size: 12px;
}

.menuItemLink {
  text-decoration: none;
  width: 100%;
}
